*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	 
}
nav{
	font-family: 'DM Serif Display', serif;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 11vh;
	
}
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 45%;
}
.nav-links li{
	list-style: none;
}
.nav-links div{
	display: none;
}
.nav-links a{
	
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 3px;
	
}
.al{
	color: rgb(167, 165, 165);
	transition: 0.6s ease;
}

.al:hover{
	color: rgb(54, 54, 54);
}
.burger{
	display: none;
	cursor: pointer;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: rgb(31, 30, 30);
	margin: 5px;
	transition: all 0.3s ease;
}
.btn{
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 3px;
	border: 2px solid hsl(256, 26%, 20%);
	padding: 8px 20px;
	color:hsl(256, 26%, 20%);
	transition: 0.6s ease;
}
.btn:hover{
	background-color:hsl(256, 26%, 20%);
	color: white;
}

@media screen and (max-width: 800px){
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: absolute;
		z-index: 9;
		background-color: hsl(256, 26%, 20%);
		height: 100%;
		width: 100%;
		top: 10vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: hsl(293, 60%, 97%);
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
	}
	.al{
		color: hsl(274, 47%, 94%);
	}
	.al:hover{
		color: rgb(255, 255, 255);
	}
	.btn{
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 3px;
		border: 2px solid #fff;
		padding: 8px 30px;
		color:#fff;
		transition: 0.6s ease;
	}
	.btn:hover{
		background-color:white;
		color: hsl(256, 26%, 20%);
	}
	.nav-links div{
		display: flex;
		position: bottom;
		width: 100%;
		bottom: 0;
	}
	
}
.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}
.header{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 50vh;
	padding: 2% 12%;
	background-color: hsl(256, 26%, 20%);;
}
.textbox{
	color: white;
}
.textbox h2{
	font-family: 'DM Serif Display', serif;
	font-weight: normal;
	line-height: 65px;
	font-size: 65px;
}
.textbox p{
	max-width: 80%;
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	font-size: 100%;
	letter-spacing: 0.2px;
	line-height: 25px;
}
.textbox a{
	font-family: 'DM Serif Display', serif;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 3px;
	border: 2px solid #fff;
	padding: 8px 20px;
	color:#fff;
	transition: 0.6s ease;
}
.textbox a:hover{
	background-color:white;
	color: hsl(256, 26%, 20%);
}
.leftintro{
	position: absolute;
	padding: 0px;
	left: 0;
	top: 500px;
}
.imgbox{
	position: relative;
	padding: 0px;
	top: 100px;
	width: 480px;
	height: auto;
}
.rightintro{
	position: absolute;
	padding: 0px;
	right: 0;
	top: 0;
}
.werediff{
	position: relative;
	z-index: 3;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
	min-height: 50vh;
	top: 260px;
	padding: 10px 12%;
	/* font-family: 'DM Serif Display', serif; */
	overflow: hidden;
}

.new{
	color: black;
	text-align: left;
	
}

.werediff table{
	text-align: left;
	min-height: 10vh;
}
.werediff table th{
	width: 33.3%;
	padding: 10px;
	font-weight: lighter;
}
.content{
	color: grey;
	opacity: 0.8;
}
.purplebox{
	background-color:  hsl(256, 26%, 20%);
	min-height: 35vh;
	display: flex;
	justify-content: space-between;
	padding: 20px 100px;
	align-items: center;
	overflow: hidden;
	position: relative;
}
.purplebox h2{
	font-family: 'DM Serif Display', serif;
	font-weight: normal;
	line-height: 50px;
	font-size: 50px;
	color: #fff;
}
.purplebox a{
	font-family: 'DM Serif Display', serif;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 3px;
	border: 2px solid #fff;
	padding: 8px 20px;
	color:#fff;
	transition: 0.6s ease;
}
.purplebox a:hover{
	background-color:white;
	color: hsl(256, 26%, 20%);
}
.workpattern{
	position: absolute; 
	right: 0;
	overflow: hidden;
	max-width: 100%;
	max-width: 100%;
}
.footer{
	/* font-family: 'Karla', sans-serif; */
	position: relative;
	z-index: 3;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 20vh;
	top: 260px;
	padding: 2% 12%;
	/* font-family: 'DM Serif Display', serif; */
	/* overflow: hidden; */
	background-color: hsl(0, 0%, 98%);
}
.foot1{
	position: relative;
	z-index: 3;
	width: 100%;
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	/* align-items: center; */
	/* min-height: 50vh; */
	/* top: 260px; */
	/* padding: 10px 12%; */
	/* font-family: 'DM Serif Display', serif;
	 */
	overflow: hidden;
}
.social{
	display: flex;
	right: 0px;
	justify-content: space-evenly;
	width: 20%;
}

.social li{
	list-style: none;
	
}

.social svg path{
	transition: 0.2s ease-in;
}
.icons1:hover{
	fill: blue;
}
.icons2:hover{
	fill: rgb(0, 162, 255);
}
.icons3:hover{
	fill: rgb(255, 0, 0);
}
.icons4:hover{
	fill: rgb(153, 3, 133);
}
.fotab{
	/* font-family: 'Karla', sans-serif; */
	font-weight: 500;
	width: 100%;
}
table tr{
	position: relative;
	top: 0;
	display: flex;
	justify-content: space-between;
}
td .footlinks{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.footlinks a{
	
	text-decoration: none;
	/* font-family: 'Karla'; */
	font-size: 14px;
	/* letter-spacing: 3px; */
	color: #4b4b4bea;
	/* font-weight: 800; */
	
}
.footlinks a:hover{
	text-decoration: underline;
}



@media screen and (max-width: 1250px){
	.nav-links{
		width: 60%
	}
	.textbox h2{
		font-size: 50px;
		line-height: 50px;
	}
	.imgbox{
		width: 400px;
		height: auto;
	}
}
